<% include partials/header %>


<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/">Indic Typing</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Type in
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="http://indictyping.com/hindi-typing">Hindi</a>
                                    <a class="dropdown-item" href="http://indictyping.com/marathi-typing">Marathi</a>
                                    <a class="dropdown-item" href="http://indictyping.com/gujarati-typing">Gujarati</a>
                                    <a class="dropdown-item" href="http://indictyping.com/tamil-typing">Tamil</a>
                                    <a class="dropdown-item" href="http://indictyping.com/telugu-typing">Telugu</a>
                                    <a class="dropdown-item" href="http://indictyping.com/kannada-typing">kannada</a>
                                    <a class="dropdown-item" href="http://indictyping.com/nepali-typing">Nepali</a>
                                    <a class="dropdown-item" href="http://indictyping.com/oriya-typing">Oriya</a>
                                    <a class="dropdown-item" href="http://indictyping.com/sanskrit-typing">Sanskrit</a>
                                    <a class="dropdown-item" href="http://indictyping.com/sinhalese-typing">Sinhalese</a>
                                    <a class="dropdown-item" href="http://indictyping.com/urdu-typing">Urdu</a>
                                    <a class="dropdown-item" href="http://indictyping.com/punjabi-typing">Punjabi</a>
                                    <a class="dropdown-item" href="http://indictyping.com/malayalam-typing">Malayalam</a>
                                    <a class="dropdown-item" href="http://indictyping.com/bengali-typing">Bengali</a>
                                </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="row" style="margin-top:30px;padding: 20px; padding-bottom:50px">
            <div class="col-lg-4" style="margin-top:50px">
                <div class="col-lg">
                    <a href="http://indictyping.com/hindi-typing">

                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem">
                            <div class="card-body">
                                <h4 class="card-title">Hindi Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Hindi.</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/marathi-typing">

                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Marathi Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Marathi.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/gujarati-typing">

                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Gujarati Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Gujarati.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/telugu-typing">

                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Telugu Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Telugu.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/tamil-typing">
                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Tamil Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Tamil.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/sinhalese-typing">
                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Sinhalese Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Sinhalese.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/sanskrit-typing">
                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Sanskrit Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Sanskrit.</p>
                            </div>
                        </div>
                    </a>
                </div>  
                
            </div>
            <div class="col-lg-4" style="margin-top:50px ">
                <div style="text-align:center; font-family:monospace; font-weight:1200">
                    <h2>Welcome to IndicTyping.com</h2>
                </div>
                <div style="margin:20px">
                    <p>In Indictyping.com you can easily type in different languages. We provide fast paced solution to type
                        fast in various regional languages.</p>
                    <p> All you need to do is type using english alphabets and you will get instant Conversion to your
                        selected language. </p>
                        <p>You can currently use our typing tools for following languages: </p>
                        <p>
                            <ul>
                                <li>Hindi</li>
                                <li>Marathi</li>
                                <li>Gujarati</li>
                                <li>Telugu</li>
                                <li>Tamil</li>
                                <li>Kannada</li>
                                <li>Hindi</li>
                                <li>Nepali</li>
                                <li>Oriya</li>
                                <li>Sanskrit</li>
                                <li>Urdu</li>
                                <li>Sinhalese</li>
                                <li>Punjabi</li>
                                <li>Malayalam</li>
                                <li>Bengali</li>

                            </ul>
                        </p>
                        
                </div>
            </div>
            <div class="col-lg-4" style="margin-top:50px">
                <div class="col-lg">
                    <a href="http://indictyping.com/kannada-typing">

                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem">
                            <div class="card-body">
                                <h4 class="card-title">kannada Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Kannada.</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/malayalam-typing">

                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Malayalam Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Malayalam.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/nepali-typing">

                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Nepali Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Nepali.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/oriya-typing">

                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Oriya Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Oriya.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/punjabi-typing">
                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Punjabi Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Punjabi.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg">
                    <a href="http://indictyping.com/urdu-typing">
                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Urdu Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Urdu.</p>
                            </div>
                        </div>
                    </a>
                </div>  
                <div class="col-lg">
                    <a href="http://indictyping.com/bengali-typing">
                        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Bengali Typing</h4>
                                <p class="card-text">Type in english and get instant realtime conversion to Bengali.</p>
                            </div>
                        </div>
                    </a>
                </div>  
            </div>
        </div>
    </div>


</body>






<% include partials/footer %>