<% include partials/header %>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/">IndicTyping</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="http://indictyping.com/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Type in
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="http://hindi.indictyping.com">Hindi</a>
                                    <a class="dropdown-item" href="http://marathi.indictyping.com">Marathi</a>
                                    <a class="dropdown-item" href="http://gujarati.indictyping.com">Gujarati</a>
                                    <a class="dropdown-item" href="http://tamil.indictyping.com">Tamil</a>
                                    <a class="dropdown-item" href="http://telugu.indictyping.com">Telugu</a>
                                    <a class="dropdown-item" href="http://kannada.indictyping.com">kannada</a>
                                    <a class="dropdown-item" href="http://nepali.indictyping.com">Nepali</a>
                                    <a class="dropdown-item" href="http://oriya.indictyping.com">Oriya</a>
                                    <a class="dropdown-item" href="http://sanskrit.indictyping.com">Sanskrit</a>
                                    <a class="dropdown-item" href="http://sinhalese.indictyping.com">Sinhalese</a>
                                    <a class="dropdown-item" href="http://urdu.indictyping.com">Urdu</a>
                                    <a class="dropdown-item" href="http://punjabi.indictyping.com">Punjabi</a>
                                    <a class="dropdown-item" href="http://malayalam.indictyping.com">Malayalam</a>
                                    <a class="dropdown-item" href="http://bengali.indictyping.com">Bengali</a>
                                </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://indictyping.com/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://indictyping.com/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header> <br>
        <div class="row">
            <div class="col-lg-12"><br>
                <h1 style="color:rgb(0, 0, 0); text-align:center"> Privacy Policy</h1>
                <div> <br>
                    <h3 style="color:rgb(0, 0, 0)">
                        Privacy Policy for www.indictyping.com </h3>

                    <p>
                        If you require any more information or have any questions about our privacy policy, please feel
                        free
                        to
                        contact
                        us by email at kingstermed@gmail.com </p>
                    <p>
                        At www.typingzz.com, the privacy of our visitors is of extreme importance to us. This privacy
                        policy
                        document
                        outlines the types of personal information is received and collected by www.typingzz.com and how
                        it
                        is
                        used.
                    </p>

                    <p>
                        <h3>Log Files: <br> </h3>
                        Like many other Web sites, www.typingzz.com makes use of log files. The information inside the
                        log
                        files
                        includes
                        internet protocol (IP) addresses, type of browser, Internet Service Provider (ISP),
                        date/time
                        stamp,
                        referring/exit pages, and number of clicks to analyze trends, administer the site, track users
                        movement
                        around
                        the site, and gather demographic information. IP addresses, and other such information are not
                        linked to
                        any
                        information that is personally identifiable.</p>
                    <p>
                        <h3>Cookies and Web Beacons: <br></h3>
                        www.typingzz.com does use cookies to store information about visitors preferences, record
                        user-specific
                        information
                        on which pages the user access or visit, customize Web page content based on visitors browser
                        type
                        or
                        other
                        information that the visitor sends via their browser.</p>
                    <p>
                        <h3> DoubleClick DART Cookie: <br></h3>

                        Google, as a third party vendor, uses cookies to serve ads on www.typingzz.com

                        Google’s use of the DART cookie enables it to serve ads to your users based on their visit to
                        www.typingzz.com
                        and other sites on the Internet.

                        Users may opt out of the use of the DART cookie by visiting the Google ad and content network
                        privacy
                        policy
                        at the following URL – http://www.google.com/privacy_ads.html. <br>

                        Some of our advertising partners may use cookies and web beacons on our site. Our advertising
                        partners
                        include
                        …….
                        Google Adsense

                        These third-party ad servers or ad networks use technology to the advertisements and links that
                        appear
                        on
                        www.typingzz.com send directly to your browsers. They automatically receive your IP address when
                        this
                        occurs.
                        Other
                        technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party
                        ad
                        networks to
                        measure the effectiveness of their advertisements and / or to personalize the advertising
                        content
                        that
                        you see.

                        www.indictyping.com has no access to or control over these cookies that are used by third-party
                        advertisers.

                        You should consult the respective privacy policies of these third-party ad servers for more
                        detailed
                        information
                        on their practices as well as for instructions about how to opt-out of certain practices.
                        www.typingzz.com’s
                        privacy
                        policy does not apply to, and we cannot control the activities of, such other advertisers or web
                        sites.


                        If you wish to disable cookies, you may do so through your individual browser options. More
                        detailed
                        information
                        about cookie management with specific web browsers can be found at the browser's respective
                        websites.
                    </p>
                    </p>


                </div>
            </div>
        </div>
    </div>
</body>

<% include partials/footer %>