<% include partials/sinhaleseheader %>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/">Indictyping</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Type in other languages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fonts">Install Fonts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="titlebox">
                <h1>Online Sinhalese Typing | Type In Sinhalese | Englsih to Sinhalese Converter</h1>
                </div>

        <div class="row">
            <div class="col-lg-12">


                <div id="topc">

                    <div style="text-align:center; font-size:100px">
                        <h2>English To Sinhalese Typing </h2>

                    </div>

                    <script type="text/javascript">

                        // Load the Google Transliterate API
                        google.load("elements", "1", {
                            packages: "transliteration"
                        });

                        function onLoad() {
                            var options = {
                                sourceLanguage:
                                    google.elements.transliteration.LanguageCode.ENGLISH,
                                destinationLanguage:
                                    [google.elements.transliteration.LanguageCode.SINHALESE],
                                shortcutKey: 'ctrl+g',
                                transliterationEnabled: true
                            };

                            // Create an instance on TransliterationControl with the required
                            // options.
                            var control =
                                new google.elements.transliteration.TransliterationControl(options);

                            // Enable transliteration in the textbox with id
                            // 'transliterateTextarea'.
                            control.makeTransliteratable(['transliterateTextarea']);
                        }
                        google.setOnLoadCallback(onLoad);

                    </script>


                    <div class="col-lg-12" id="tebox">
                        <br>
                        <p> Type in English, hit space and get instant Sinhalese conversion
                        </p>
                        <div>
                            <textarea id="transliterateTextarea" placeholder="Type Here"
                                style="width: 1000px;height: 300px"></textarea><br>
                            <button onclick="copy()" type="button" class="btn btn-secondary btn-sm"> Copy </button>
                            &nbsp; &nbsp; &nbsp;
                            <button onclick="saveTextAsFile()" type="button" class="btn btn-secondary btn-sm">Save As
                                text
                                file</button> &nbsp; &nbsp; &nbsp;
                        </div>
                        <br>


                    </div>
                    <br> <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="how">

                <p>
                    <h3>How to type in Sinhalese?</h3>
                    <ul>
                        <li>
                            Press Ctrl + g to toggle between English And Sinhalese Typing
                        </li>
                        <li>
                            Type any word in english alphabets and pres space button to get instant marathi conversion
                            online.
                        </li>
                        <li>
                            Use backspace button or select the word to get various options related to selected word.
                        </li>
                        <li>
                            Use Copy button to Copy the typed content in clipboard
                        </li>
                    </ul>

                </p>

            </div>
        </div>

        <div class="row">
            <div id="about">
                <p>
                    <h3>About Sinhalese
                    </h3>
                    Sinhala (/ˌsɪn(h)əˈlə, ˌsɪŋ(ɡ)ə-/) (සිංහල; siṁhala [ˈsiŋɦələ]),[3] also known as Sinhalese, is the
                    native language of the Sinhalese people, who make up the largest ethnic group in Sri Lanka,
                    numbering about 16 million.[4][1] Sinhala is also spoken as a second language by other ethnic groups
                    in Sri Lanka, totalling about four million.[5] It belongs to the Indo-Aryan branch of the
                    Indo-European languages. Sinhala is written using Sinhala script, which is one of the Brahmic
                    scripts, a descendant of the ancient Indian Brahmi script closely related to the Kadamba script.[6]

                    Sinhala is one of the official and national languages of Sri Lanka. Sinhala, along with Pali, played
                    a major role in the development of Theravada Buddhist literature.[1]

                    The oldest Sinhalese Prakrit inscriptions found are from the third to second century BCE following
                    the arrival of Buddhism in Sri Lanka,[7][8] the oldest extant literary works date from the ninth
                    century. The closest relative of Sinhala is the Maldivian language.[8] Sinhala has two main
                    varieties – written and spoken. It is a good example of the linguistic phenomenon known as
                    diglossia.
                </p>
            </div>
        </div>
    </div>
</body>

<% include partials/footer %>