<% include partials/tamilheader %>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/">IndicTyping</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="http://indictyping.com/">Type in other languages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://indictyping.com/fonts">Install Fonts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://indictyping.com/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="titlebox">
                <h1>Online Tamil Typing | Type In Tamil | Tamil Converter</h1>
                </div>
            

        <div class="row">
            <div class="col-lg-12">


                <div id="topc">

                    <div style="text-align:center; font-size:100px">
                        <h2>English To Tamil Typing </h2>

                    </div>

                    <script type="text/javascript">

                        // Load the Google Transliterate API
                        google.load("elements", "1", {
                            packages: "transliteration"
                        });

                        function onLoad() {
                            var options = {
                                sourceLanguage:
                                    google.elements.transliteration.LanguageCode.ENGLISH,
                                destinationLanguage:
                                    [google.elements.transliteration.LanguageCode.TAMIL],
                                shortcutKey: 'ctrl+g',
                                transliterationEnabled: true
                            };

                            // Create an instance on TransliterationControl with the required
                            // options.
                            var control =
                                new google.elements.transliteration.TransliterationControl(options);

                            // Enable transliteration in the textbox with id
                            // 'transliterateTextarea'.
                            control.makeTransliteratable(['transliterateTextarea']);
                        }
                        google.setOnLoadCallback(onLoad);

                    </script>


                    <div class="col-lg-12" id="tebox">
                        <br>
                        <p> Type in English, hit space and get instant Tamil conversion
                        </p>
                        <div>
                            <textarea id="transliterateTextarea" placeholder="Type Here"
                                style="width: 1000px;height: 300px"></textarea><br>
                            <button onclick="copy()" type="button" class="btn btn-secondary btn-sm"> Copy </button>
                            &nbsp; &nbsp; &nbsp;
                            <button onclick="saveTextAsFile()" type="button" class="btn btn-secondary btn-sm">Save As
                                text
                                file</button> &nbsp; &nbsp; &nbsp;
                        </div>
                        <br>


                    </div>
                    <br> <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="how">
                <p>
                    <h3>How to type in Tamil?</h3>
                    <ul>
                        <li>
                            Press Ctrl + g to toggle between English And Tamil Typing
                        </li>
                        <li>
                            Type any word in english alphabets and pres space button to get instant Tamil
                            conversion online.
                        </li>
                        <li>
                            Use backspace button or select the word to get various options related to seleccted
                            word.
                        </li>
                        <li>
                            Use Copy button to Copy the typed content in clipboard
                        </li>
                    </ul>

                </p>


            </div>
        </div>

        <div class="row">
            <div id="about">
                <p>
                    <h3>About Tamil</h3>
                    Tamil (/ˈtæmɪl/; தமிழ் Tamiḻ [t̪ɐmɨɻ], About this soundpronunciation (help·info)) is a
                    Dravidian language predominantly spoken by the Tamil people of India and Sri Lanka, and by
                    the Tamil diaspora, Sri Lankan Moors, Douglas, and Chindians. Tamil is an official language
                    of two countries: Sri Lanka and Singapore and official language of the Indian state Tamil
                    Nadu.[13][14] It has official status in the Indian state of Tamil Nadu and the Indian Union
                    Territory of Puducherry. It is used as one of the languages of education in Malaysia, along
                    with English, Malay and Mandarin.[15][16] Tamil is spoken by significant minorities in the
                    four other South Indian states of Kerala, Karnataka, Andhra Pradesh and Telangana and the
                    Union Territory of the Andaman and Nicobar Islands. It is one of the 22 scheduled languages
                    of India.

                    Tamil is one of the longest-surviving classical languages in the world.[17][18] A. K.
                    Ramanujan described it as "the only language of contemporary India which is recognizably
                    continuous with a classical past."[19] The variety and quality of classical Tamil literature
                    has led to it being described as "one of the great classical traditions and literature of
                    the world".[20]

                    A recorded Tamil literature has been documented for over 2000 years.[21] The earliest period
                    of Tamil literature, Sangam literature, is dated from ca. 300 BC – AD 300.[22][23] It has
                    the oldest extant literature among Dravidian languages.[17] The earliest epigraphic records
                    found on rock edicts and 'hero stones' date from around the 3rd century BC.[24][25] More
                    than 55% of the epigraphical inscriptions (about 55,000) found by the Archaeological Survey
                    of India are in the Tamil language.[26] Tamil language inscriptions written in Brahmi script
                    have been discovered in Sri Lanka and on trade goods in Thailand and Egypt.[27][28] The two
                    earliest manuscripts from India,[29][30] acknowledged and registered by the UNESCO Memory of
                    the World register in 1997 and 2005, were written in Tamil.[31]

                    In 1578, Portuguese Christian missionaries published a Tamil prayer book in old Tamil script
                    named Thambiran Vanakkam, thus making Tamil the first Indian language to be printed and
                    published.[32] The Tamil Lexicon, published by the University of Madras, was one of the
                    earliest dictionaries published in the Indian languages.[33] According to a 2001 survey,
                    there were 1,863 newspapers published in Tamil, of which 353 were dailies.[34]
                </p>
            </div>
        </div>
    </div>
</body>

<% include partials/footer %>