<% include partials/header %>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="/">IndicTyping</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Type in
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/hindi-typing">Hindi</a>
                                    <a class="dropdown-item" href="http://marathi.indictyping.com">Marathi</a>
                                    <a class="dropdown-item" href="http://gujarati.indictyping.com">Gujarati</a>
                                    <a class="dropdown-item" href="http://tamil.indictyping.com">Tamil</a>
                                    <a class="dropdown-item" href="http://telugu.indictyping.com">Telugu</a>
                                    <a class="dropdown-item" href="http://kannada.indictyping.com">kannada</a>
                                    <a class="dropdown-item" href="http://nepali.indictyping.com">Nepali</a>
                                    <a class="dropdown-item" href="http://oriya.indictyping.com">Oriya</a>
                                    <a class="dropdown-item" href="http://sanskrit.indictyping.com">Sanskrit</a>
                                    <a class="dropdown-item" href="http://sinhalese.indictyping.com">Sinhalese</a>
                                    <a class="dropdown-item" href="http://urdu.indictyping.com">Urdu</a>
                                    <a class="dropdown-item" href="http://punjabi.indictyping.com">Punjabi</a>
                                    <a class="dropdown-item" href="http://malayalam.indictyping.com">Malayalam</a>
                                    <a class="dropdown-item" href="http://bengali.indictyping.com">Bengali</a>
                                </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="row">
            <div class="col-lg-12" id="tebox" style="margin-left:5px"><br>
                <h1 style="color:azure">Terms of Service and Rules</h1> <br>
                <div>
                    <p>
                        TERMS OF USE: <br>

                        The Terms Of Use(“Agreement”) govern your use of typingzz.com website, email newsletters
                        referred as
                        Services and any
                        “Content” listed on our website. This agreement is between the providers (“we”, “us”, “our”) and
                        you. By
                        utilizing our
                        Services, you are confirming that you have perused and comprehended this Agreement (including
                        our
                        Privacy
                        Policy),
                        consenting to turn into a gathering to this Agreement and consenting to be bound by and consent
                        to the
                        terms
                        and
                        conditions thus. In the event that, for any reason, you don’t acknowledge and consent to all the
                        terms
                        and
                        states of
                        this Agreement, kindly don’t get to or utilize the Services as a part of any way.
                        For purposes of this Agreement, the term “Content” includes data, information, text, logos,
                        photos,
                        videos,
                        audio clips,
                        written posts, software, graphics, programming, themes through the Services, including the User
                        Content
                        as
                        defined
                        below.
                    </p>
                    <p>
                        ELIGIBILITY: <br>
                        We do not seek or knowingly collect any personal information about children under 13 years of
                        age without parental consent. If we become aware that we have unknowingly collected personal
                        information from a child under the age of 13 without parental consent, we will make commercially
                        reasonable efforts to delete such information from our database.

                        If you are the parent or guardian of a minor child who has provided us with personal
                        information, you may contact us using the information below to request it be deleted.

                        </p>

                    <p>
                        USER CONTENT: <br>
                        Some portion of website may allow users to create the content. You hold your rights in such User
                        Content,
                        and by
                        submitting or posting User Content, you are giving us an irreversible, completely paid,
                        royalty-free
                        license
                        to utilize,
                        showcase, duplicate, imitate, alter, the content of your post. You agree to not use the Service
                        to
                        submit or
                        link to any
                        Content which is defamatory, abusive, hateful, threatening, spam or spam-like, likely to offend,
                        contains
                        adult or
                        objectionable content, contains personal information of others, risks copyright infringement,
                        encourages
                        unlawful
                        activity, or otherwise violates any laws.
                        All Content you submit or upload may be reviewed by staff members. All Content you submit or
                        upload may
                        be
                        sent to
                        third-party verification services (including, but not limited to, spam prevention services). Do
                        not
                        submit
                        any Content
                        that you consider to be private or confidential.
                    </p>

                    <p>
                        INTELLECTUAL PROPERTY RIGHTS: <br>
                        All rights including the Content and Services will have exclusive rights of typingzz.com
                        website. You
                        should
                        not
                        copy,transmit, reproduce, reverse engineer, decrypt, distribute or disassemble the Content or
                        Services
                        offered by us
                        without our written consent. You likewise recognize and concur that any input, remarks or
                        proposals you
                        may
                        give in
                        regards to the Services is altogether intentional and we will be allowed to utilize such
                        criticism,
                        remarks
                        or
                        recommendations as we see fit and without any commitment or remuneration to you.</p>

                    <p> REPORTING INTELLECTUAL PROPERTY INFRINGEMENT: <br>
                        We try hard that content posted on our website is original and is not copyright. If you feel
                        that your
                        copyright work
                        has been copied and posted in such a way that it leads to copyright infringement then please let
                        us know
                        the
                        following
                        information:-
                        a) Original content information
                        b) Your name, email address, postal address, & mobile number
                        c) A statement that information provided by you is correct to your knowledge and if you are not
                        the
                        original
                        copyright
                        owner then you are authorized to act on his behalf
                        Send us the requested information at kingstermed@gmail.com We will take the appropriate action
                        as per
                        Copyright law and we
                        will remove the content from our website.</p>
                    <p>
                        DISCLAIMER REGARDING THIRD PARTY LINKS: <br>
                        Content in our website may contain the link to third party websites. These third party websites
                        might
                        contain
                        information that is inappropriate and offensive which is beyond our control. We should not be
                        held
                        responsible for any
                        kind of misleading content on third party websites. typingzz.com does not guarantee, approve or
                        endorse
                        the
                        information or
                        products available at third party sites, nor does a link indicate any association with or
                        endorsement by
                        the
                        linked site
                        to typingzz.com.</p>
                    <p>
                        CHANGES TO THIS AGREEMENT: <br>
                        We claim all authority to amend this Agreement at our sole discretion without former notice and
                        whenever.
                        The most
                        recent Agreement will be posted here. By keeping on using the Services after changes are made,
                        you
                        consent
                        to be bound
                        by the revised Agreement.</p>


                </div>
            </div>
        </div>
    </div>
    <% include partials/footer %>